<h1>About #RealWork Project</h1>
<p>We are working on our #RealWork Project</p>
<p>the world is changing quickly.
and so is work.
work that used to be around no longer is. and on-the-job training no longer exists.

so how do we prepare for jobs? jobs that never previously existed?
we need a new work movement.
one in which employers, educators and students can get together.

EVERYONE SHARES what new skills and projects are required ==> SHARE US YOUR REAL WORK PROJECTS
educators APPLY these skills in the classroom ==> TEACHERS’ GUIDE COMING SOON 
students EXPERIMENT and LEARN and TRY projects ==> TRY REAL WORK PROJECTS
</p>
